.normalize{
  border-collapse: collapse;
}

.normalize tr{
  height: 5rem;
}

.normalize th{
  width: 100px;
  background-color: #B1B1B1;
  color: #fff;
  border-bottom: solid 1px #fff;
}

.normalize td{
  width: 560px;
  padding-left: 1rem;
  border: solid 1px #B1B1B1;
}

.normalize tr:last-child th {
  border-color: #B1B1B1;
}
